[submodule "vendor/tinybus"]
	path = vendor/tinybus
	url = https://github.com/tinyhumansai/tinybus
	branch = main
[submodule "vendor/tinyflows"]
	path = vendor/tinyflows
	url = https://github.com/tinyhumansai/tinyflows
	branch = main
